// .babelrc
{
    "presets": [
      "@babel/preset-env",     // Transpile modern JavaScript
      "@babel/preset-react",   // Support React JSX
      "@babel/preset-typescript" // Support TypeScript
    ]
  }
  